  <body>

    <!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome {{userfullname}}</h1>
        <p class="lead">ChitF is a application help you to maintain, keep track of your transactions and your peer tranactions
        that are made during your chit fund period. Each transactions will be stored in block and each block will inter linked.So
        no transactions will get modified or get erased from history.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            
            <div class="card-body">
              <h4 class="card-title">Card title</h4>

            </div>
            <div class="card-footer">
              <a href="#/creategroup" class="btn btn-primary">Create Group</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              
            </div>
            <div class="card-footer">
              <a href="#/viewtrans" class="btn btn-primary">View Transactions</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
             
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
             
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   
  </body>


