<div class="container">

	
	<div class="row">
		<div class ="col-sm-6">
				<input type="text" name="groupname" ng-model="group.groupname"
				placeholder="enter the unique group name"></input>
				
				<input type="number" name="groupcount" ng-model="group.groupcount"
				placeholder="Fix the group count"></input>
				
				<input type="number" name="groupamount" ng-model="group.groupamount"
				placeholder="Enter the sum amount of chit period"></input>
				
				<button tyoe="submit" ng-click="addpeople()">Add people</button>
			</div>
		<div class ="col-sm-6">
				<p>Column 2</p>
			</div>
	</div>
	<!-- <div>
		<input type="text" name="mobileno" placeholder="enter subscriber mobile number"
		ng-model="subscriber.mobile"></input>
		<button type="submit" ng-click="storemobno()">Add</button>
	</div>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Number your have added</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="mobileno in mobilenolist">
					<td>{{mobileno}}</td>
					<td> 
						<button type="button" class="btn btn-default btn-sm">
	          			<span class="glyphicon glyphicon-pencil"></span> Pencil 
	        			</button>
        			</td>
				</tr>
			</tbody>
		</table>
	</div> -->
	
</div>